.idea/
build/
*.egg*
dist/*
/ftran.cpython-37m-darwin.so
/gbm_drm_gen/.#at_scat.py
/.DS_Store
/at_scat.cpython-37m-darwin.so
/examples/.ipynb_checkpoints/
*.pyc
*.c
src/at_scat.c
/test_n6.rsp
/.pytest_cache/
/src/ftran-f2pywrappers.f
src/at_scat.c
examples/test_n6.rsp
/at_scat.cpython-38-darwin.so
/logo.key
/ftran.cpython-38-darwin.so
/docs/md/.ipynb_checkpoints/*.ipynb
